body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* Темный фон */
    color: #ffffff; /* Белый текст */
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
}

#coin-counter {
    font-size: 24px;
    margin-bottom: 20px;
}

#circle {
    width: 100px;
    height: 100px;
    background-color: #61be09; /* Ярко-зеленый круг */
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.2s;
}

#circle:hover {
    transform: scale(1.1); /* Увеличение при наведении */
}
